version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"   
      - "29092:29092" 
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: nc -z localhost 9092 || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  schema-registry:
    image: confluentinc/cp-schema-registry:7.3.0
    container_name: schema-registry
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/subjects"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  order-api-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-api-service
    ports:
      - "8087:8087"
    depends_on:
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_KAFKA_PROPERTIES_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      SERVER_PORT: 8087
      SPRING_KAFKA_TOPIC_NAME: orders
      SENDGRID_API_KEY: ""
      SENDGRID_FROM_EMAIL: ""
    networks:
      - app-network


  kafka-consumer:
    image: confluentinc/cp-schema-registry:7.3.0
    container_name: kafka-consumer
    user: root
    depends_on:
      - kafka
      - schema-registry
    command: >
      sh -c "
        echo 'Waiting for Schema Registry...';
        while ! nc -z schema-registry 8081; do sleep 1; done;
        echo 'Schema Registry is ready!';
        echo 'Starting Avro Consumer...';
        kafka-avro-console-consumer --bootstrap-server kafka:29092 --topic orders --property schema.registry.url=http://schema-registry:8081 --from-beginning
      "
    networks:
      - app-network

networks:
  app-network:
    driver: bridge